@import '../../scss/vars.scss';
@import '../../scss/mixins.scss';

.message-wrap {
  position: absolute;
  top: 40px;
  bottom: 100px;
  width: 100%;
}

.message-list {
    position: absolute;
    top: 15px;
    bottom: 15px;
    width: 100%;
    padding: 0 15px;
    overflow-y: auto;
  }

.message-item {
  position: relative;
  margin: $talk-margin;

  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.talk-image {
  position: absolute;
  width: $talk-image-size;
  height: $talk-image-size;
  background: #EEE;
}

.talk-message {
  position: relative;
  display: inline-block;
  width: $talk-box-width;
  min-height: $talk-box-height;
  padding: 5px;
  background: $talk-box-color;
  text-align: left;
  color: $talk-text-color;

  .arrow {
    position: absolute;
    top: 10px;
    width: 0;
    height: 0;
    border-top: $talk-arrow-size solid transparent;
    border-bottom: $talk-arrow-size solid transparent;
  }

  .info {
    position: absolute;
    bottom: 5px;
    display: inline-block;
    width: 130px;
    font-size: 14px;
  }
  .name {
    @include ellipsis();
  }

  .company,
  .time {
    display: block;
  }

  .message {
    display: inline-block;
    max-width: 280px;
    margin-bottom: 25px;
  }
}


// Ajsute talk side: image and message box
.left-side {
  text-align: left;

  .talk-image {
    left: 0;
  }
  .talk-message {
    margin-left: 100px;
  }
  .arrow {
    left: - $talk-arrow-size +2;
    border-right: $talk-arrow-size solid $talk-box-color;
  }
  .info {
    left: 5px;
  }
  .message {
    margin-left: 120px;
  }
}

.right-side {
  text-align: right;

  .talk-image {
    right: 0;
  }
  .talk-message {
    margin-right: 100px;
  }
  .arrow {
    right: - $talk-arrow-size +2;
    border-left: $talk-arrow-size solid $talk-box-color;
  }
  .info {
    right: 5px;
  }
  .message {
    margin-right: 120px;
  }

  .icon-checked {
    color: $header-bg;
  }
  .icon-checked,
  .icon-clock {
    position: absolute;
    bottom: 7px;
    left: 5px;
  }
}


// Mobile settings
@include breakpoint(mobile) {
  .message-item {

    .talk-message {
      width: auto;
      display: block;

      .message {
        display: block;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
      }
    }
  }
}