@import '../../scss/vars.scss';
@import '../../scss/mixins.scss';

.chat {
  position: absolute;
  bottom: 0px;
  right: 20px;
  width: $chat-width;
  height: $chat-height;
  border: 1px solid #DDD;
  box-shadow: 0 0px 15px rgba(0,0,0, 0.2);
  background: #FFF;

  &.closed {
    height: $header-height;
  }
}


// Mobile settings
@include breakpoint(mobile) {
  .chat {
    width: auto;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
  }
}