// Chat
// $chat-width: 600px;
// $chat-height: 540px;
$chat-width: 580px;
$chat-height: 380px;


// Header
$header-height: 40px;
$header-bg: #005DA4;
$header-color: white;

// Actions
$actions-width: 80px;
$actions-color: #80AED2;
