@import 'reset.scss';
@import 'normalize.scss';
@import 'mixins.scss';
@import 'icons.scss';


// Helpers
.clearfix:before,
.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1;
}